Source: bm
Section: net
Priority: optional
Maintainer: Thomas Dreibholz <dreibh@simula.no>
Build-Depends: automake,
               cmake,
               curl,
               debhelper (>= 12),
               dh-python,
               git,
               libboost-dev,
               libboost-filesystem-dev,
               libboost-program-options-dev,
               libboost-system-dev,
               libboost-thread-dev,
               libgmp-dev,
               libgrpc++-dev,
               libgrpc-dev,
               libjudy-dev,
               libnanomsg-dev,
               libpcap-dev,
               libprotobuf-dev,
               libprotoc-dev,
               libssl-dev,
               libthrift-dev (>= 0.13.0),
               libtool,
               pkg-config,
               protobuf-compiler,
               protobuf-compiler-grpc,
               python3-all,
               python3-six,
               python3-thrift,
               thrift-compiler
Standards-Version: 4.5.1.0
Rules-Requires-Root: no
Homepage: https://github.com/simula/behavioral-model
Vcs-Git: https://github.com/simula/behavioral-model
Vcs-Browser: https://github.com/simula/behavioral-model/tree/p4-packaging

Package: p4lang-bmv2-bin
Architecture: amd64 arm64
Depends: p4lang-bmv2-libs (= ${binary:Version}),
         python3-bmv2 (= ${binary:Version}),
         ${misc:Depends},
         ${python3:Depends},
         ${shlibs:Depends}
Description: p4lang behavioral-model (binaries)
 This is the second version of the P4 software switch (also known as behavioral
 model), nicknamed bmv2.
 .
 This package contains the binary programs.

Package: p4lang-bmv2-libs
Section: libs
Architecture: amd64 arm64
Depends: ${misc:Depends},
         ${shlibs:Depends}
Description: p4lang behavioral-model (libraries)
 This is the second version of the P4 software switch (also known as behavioral
 model), nicknamed bmv2.
 .
 This package contains the libraries.

Package: python3-bmv2
Section: python
Architecture: amd64 arm64
Depends: p4lang-bmv2-libs (= ${binary:Version}),
         python3,
         ${misc:Depends},
         ${python3:Depends},
         ${shlibs:Depends}
Description: p4lang behavioral-model (Python libraries)
 This is the second version of the P4 software switch (also known as behavioral
 model), nicknamed bmv2.
 .
 This package contains the Python libraries.

Package: p4lang-bmv2-dev
Section: libdevel
Architecture: amd64 arm64
Depends: libboost-dev,
         libboost-filesystem-dev,
         libboost-program-options-dev,
         libboost-system-dev,
         libboost-thread-dev,
         libgmp-dev,
         libgrpc++-dev,
         libgrpc-dev,
         libjudy-dev,
         libnanomsg-dev,
         libpcap-dev,
         libprotobuf-dev,
         libprotoc-dev,
         libssl-dev,
         libthrift-0.13.0,
         libthrift-dev,
         libtool,
         p4lang-bmv2-libs (= ${binary:Version}),
         pkg-config,
         protobuf-compiler,
         protobuf-compiler-grpc,
         python3-all,
         thrift-compiler,
         ${misc:Depends},
         ${shlibs:Depends}
Description: p4lang behavioral-model
 This is the second version of the P4 software switch (also known as behavioral
 model), nicknamed bmv2.
 .
 This package contains the development files.

Package: p4lang-bmv2
Architecture: amd64 arm64
Depends: p4lang-bmv2-bin (= ${binary:Version}),
         p4lang-bmv2-dev (= ${binary:Version}),
         p4lang-bmv2-libs (= ${binary:Version}),
         python3-bmv2 (= ${binary:Version}),
         ${misc:Depends},
         ${shlibs:Depends}
Description: p4lang behavioral-model (metapackage)
 This is the second version of the P4 software switch (also known as
 behavioral model), nicknamed bmv2.
 .
 This metapackage depends on the binaries, libraries and development
 packages.
