name: Doxygen

on:
  push:
    branches:
      - main

jobs:
  upload-doc:
    if: ${{ github.repository == 'p4lang/behavioral-model' && github.ref == 'refs/heads/main' }}
    name: Upload bmv2.org Doxygen documentation to S3
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Run Doxygen
      run: |
        docker run --rm -v $(pwd):/data hrektts/doxygen doxygen
    - name: Upload to S3
      uses: jakejarvis/s3-sync-action@v0.5.1
      with:
        args: --acl public-read --follow-symlinks --delete
      env:
        AWS_S3_BUCKET: 'bmv2.org'
        AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
        AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        AWS_REGION: 'us-west-2'
        SOURCE_DIR: 'doxygen-out/html'
